body {
  font-family: sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

.container {
  padding-right: 5rem;
  padding-left: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.padding {
  height: 100vh;
}

.img-fluid {
  height: auto;
  width: 100%;
}
